@tailwind base;
@tailwind components;
@tailwind utilities;

.navBer{
    @apply text-xl font-medium text-white px-3 py-1 mx-1 
    rounded-md tracking-wide transition duration-200
    hover:bg-slate-50 hover:text-btn_color hover:rounded-md
}

.active{
    @apply text-xl font-medium text-btn_color bg-white py-2 px-6 hover:underline underline transition duration-200 tracking-wide 
  }
  .default{
    @apply text-xl text-white font-medium hover:underline transition-colors duration-200 tracking-wide
  }

.loginStyle{
    @apply text-xl font-medium text-black bg-white px-4 py-2
    ml-1 rounded-md hover:bg-btn_color hover:text-white
    transition duration-200 tracking-wide
}
.visit{
    @apply text-2xl font-semibold font-mono text-black bg-btn_color border-2 border-btn_color
     hover:border-white tracking-wide
     py-4 px-8 mt-4  rounded-md transition duration-200 hover:bg-transparent hover:text-white
}

.my_container{
    @apply w-full mx-auto
}

.page_banner {
    @apply w-full mx-auto py-12 md:py-24 bg-gradient-to-r from-orange-100 via-green-100 to-slate-200 shadow-md
  }
  .page_banner_title {
    @apply text-center text-2xl md:text-5xl font-semibold md:font-bold italic
  }

.main_chef{
    @apply w-48 h-48 border border-white rounded-[50%]
}

.social{
  @apply border-2 border-second_bg text-2xl font-semibold rounded-lg py-2 px-7 w-full tracking-wide
}

.master_Chef{
  @apply md:w-5/6 md:h-64 rounded-3xl
}

.page_banner{
  @apply w-full mx-auto py-12 md:py-24 bg-gradient-to-r from-orange-100 via-green-100 to-slate-200 shadow-md
}
.page_banner-title {
  @apply text-center text-2xl md:text-5xl font-semibold md:font-bold italic
}


.foodbtn {
  @apply   bg-second_bg flex items-center text-2xl font-serif font-semibold
          tracking-wider border rounded-lg py-2 px-2
          hover:bg-header_bg hover:text-white transition duration-200
}

/* blog section or component style */
.blog-cart {
    @apply border-2 border-btn_color mb-8 rounded-lg p-5 bg-[#1e1b1b] md:hover:-top-3 hover:-top-2 md:hover:-right-2 hover:-right-2 hover:text-black text-white
         relative transition duration-200 md:h-96 shadow-2xl
  }
  .blog-question {
    @apply text-xl md:text-3xl font-semibold pb-3
  }
  .blog-ans {
    @apply text-xl text-justify
  }

  .contact-style{
    @apply bg-[#1e1b1b] shadow-xl my-12 text-center px-4 py-8 mx-5 rounded-xl
  }
  .contact-img{
    @apply text-center w-7 pb-2 mx-auto
  }
  .contact-title{
    @apply font-serif text-xl text-btn_color pb-2
  }

  .printbtn{
    @apply bg-btn_color border rounded-lg text-black text-2xl font-bold py-3 px-7 
      transition duration-200 tracking-wide
      hover:bg-transparent hover:text-white hover:border-btn_color
  }